<header class="header-container">
  <div class="options-container">
    <!-- button para ir a la url http://localhost:5000/login -->
    <button
      class="btn-navigation"
      (click)="login()">Login
    </button>
    <!-- button para ir a crear una play list segun banner -->
    <button
      class="btn-navigation"
      routerLink="/create-playlist">Create Play List
    </button>
    <!-- <button routerLink="/" disabled>Create schedule</button> -->
  </div>
  <div class="header">
    {{ headerText }}
  </div>
</header>
<!-- <app-playlistinfo
  [playlistInfo]="playlistInfo"
  [step]="step"
  >
</app-playlistinfo> -->
<router-outlet></router-outlet>
