@import '../variables.scss';

.options-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.header {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 10px;
  font-size: 16px;
  border: 2px solid $spotify-gray;
  border-radius: 10px;
  text-align: center;
}
