<div class="container">
  <mat-card>
    <mat-card-header
      [ngClass]="{
        'img-container': true,
        'img-container--selected': imgSelected
      }"
    >
      <div *ngIf="requestTokenSpotify">
        <label *ngIf="!imgSelected" class="file-label" for="file-upload"
          >Subir Imagen</label
        >
        <input
          *ngIf="!imgSelected"
          id="file-upload"
          class="up-img-imput"
          type="file"
          (change)="onFileSelected($event)"
        />
      </div>
      <!-- Contenedor para la imagen -->
      <figure *ngIf="imgSelected">
        <img
          class="img-container--selected"
          [src]="imgSelected"
          alt="Imagen seleccionada"
        />
      </figure>
      <!-- span para iniciar secion si aun no tiene token -->
      <span *ngIf="!requestTokenSpotify" class="popap">
        <h2>Para continuar necesitas iniciar sesion</h2>
        <button (click)="login()">Iniciar Sesion</button>
      </span>
    </mat-card-header>

    <mat-chip-set>
      <mat-chip *ngFor="let op of optionList" (click)="selectOption(op)">
        {{ op }}
      </mat-chip>
    </mat-chip-set>
    <mat-chip-set>
      <!-- listado de los nombres de las bandas -->
      <mat-chip *ngFor="let band of bandListCorect">
        {{ band }}
      </mat-chip>
    </mat-chip-set>
  </mat-card>
  <button mat-flat-button (click)="waitForUserConfirmation()">Continuar</button>
</div>
