@import '../../variables.scss';

figure {
  margin: 0;
}
// Ocultar el input file
input[type="file"].up-img-imput {
  display: none;  // Oculta el input file original
}

.up_img_container {
  margin-bottom: 16px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;                // Ocupa todo el ancho del contenedor
  max-width: 400px;           // Establece un ancho máximo para grandes pantallas
  aspect-ratio: 1 / 1;        // Mantiene la proporción 1:1 (cuadrada)
  border: 2px dashed $spotify-light-gray; // Color de borde
  border-radius: 20px;        // Bordes redondeados
  margin: 0 auto;
  cursor: pointer;
  transition: border-color 0.3s ease;
  &--selected {
    // herreda las propiedades del padre
    @extend .img-container;
    border: none;               // Sin borde
    width: 100%;                // Ocupa todo el ancho del contenedor
    height: 100%;               // Ocupa todo el alto del contenedor
    border-radius: 20px;       // Bordes redondeados
    overflow: hidden;           // Oculta el contenido que se sale del contenedor

  }
  // Efecto hover
  &:hover {
    border-color: darken($spotify-light-gray, 10%);
  }
}
.img-selected {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Permite deformar la relación de aspecto */
}

// Ajustes para pantallas pequeñas
@media (max-width: 768px) {
  .img-container {
    max-width: 90%;           // Para pantallas pequeñas, ocupa el 90% del ancho
  }
}

// Crear un botón personalizado
.file-label {
  background-color: $spotify-green;  // Color verde de Spotify
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
  font-weight: 600;
  text-transform: uppercase;
}

// Hover para cambiar el color
.file-label:hover {
  background-color: darken($spotify-green, 10%);
}


mat-chip {
  margin: 5px;
}


.band-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espaciado entre las tarjetas */
  justify-content: center; /* Centra las tarjetas en la línea */
}
.band-card {
  width: 300px;
  background: none;
}
.band-inf--container {
  width: 100%; /* Cambiado a 100% para pantallas pequeñas */
  max-width: 300px; /* Ancho máximo para pantallas más grandes */
  background-color: #1e1e1e; /* Color de fondo similar al de Spotify */
  color: white; /* Texto en color blanco */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Para recortar el contenido */
  transition: transform 0.2s; /* Efecto de transformación suave */
  border: 1px solid $spotify-gray; /* Borde delgado */
  margin-bottom: 6px;
}

.band-card:hover {
  transform: scale(1.05); /* Efecto de hover */
}

.genre-label {
  display: inline-block;
  border: 2px solid $spotify-green; /* Color de fondo para los géneros */
  border-radius: 18px; /* Bordes redondeados para etiquetas */
  padding: 2px 8px; /* Espaciado interno en etiquetas */
  margin: 4px; /* Espaciado entre etiquetas */
  font-size: 0.8rem; /* Tamaño de fuente más pequeño */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.band-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
//---
.scrollable-container {
  height: 90px; /* Altura fija del contenedor */
  overflow: auto; /* Permite el scroll */
}

/* Ocultar la barra de desplazamiento en WebKit (Chrome, Safari) */
.scrollable-container::-webkit-scrollbar {
  width: 0; /* Ancho de la barra de scroll */
  background: transparent; /* Fondo transparente para ocultar la barra */
}

/* Ocultar la barra de desplazamiento en Firefox */
.scrollable-container {
  scrollbar-width: none; /* Para Firefox */
}
//-----------------//

/* Media queries para hacer el diseño más responsivo */
@media (max-width: 600px) {
  .band-inf--container {
    display: grid;
    grid-template-columns: 1fr 2fr;

  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .band-inf--container {
        display: grid;
    grid-template-columns: 1fr 2fr;
    .band-image {
      width: 100px;
    }
  }
}

@media (min-width: 961px) {
  .band-inf--container {
    height: 300px;
    .scrollable-container {
      height: 100%;
      overflow: auto;
    }
  }
  .band-card:hover {
    transform: scale(1);

    .footer--active {
      bottom: 60px;
    }
    .footer--inactive {
      bottom: 0;
    }
  }
}

.band-list-options {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho de su elemento padre */
  -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer y Edge */
  scrollbar-width: none;
  background-color: $spotify-gray;
  border-radius: 8px;
  padding: 4px;
}

.band-list-options::-webkit-scrollbar {
  width: 0; /* Oculta la barra de desplazamiento en Chrome, Safari y Opera */
}

.band-list-options > * {
  flex: 0 0 auto; /* Asegura que los elementos secundarios no se reduzcan y se mantengan en una fila */
  margin-right: 10px; /* Espacio entre los elementos */
}

// ---- SelectOption ----
.game_corrector--container {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 20px;
  .button--discard {
    background-color: $alert-warning;
    border-radius: 20px;
    color: black !important;
  }
}
.select_option--container {
  padding: 12px;
  border-radius: 12px;
  justify-content: center;
  border: 1px solid $spotify-gray;
  div {
    justify-content: center;
  }
}

.image-figure {
  position: relative; /* Posiciona el contenedor de la imagen */
}

.moving-circle {
  position: absolute; /* Posiciona el círculo sobre la imagen */
  width: 120px;
  height: 40px;
  border-radius: 12px; /* Hace que el div sea un círculo */
  // background-color: #ffff0080; /* Color del círculo */
  pointer-events: none; /* Ignora eventos de puntero para que no interfiera con otros elementos */
  transition: top 0.5s, left 0.5s; /* Transición suave para el movimiento */
  border: 2px solid red;
}
