CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=http://localhost:4200/callback

# Variables para MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=dataBase
MYSQL_USER=user
MYSQL_PASSWORD=pass

# Variables para la aplicación
DB_HOST=localhost # db
DB_NAME=dataBase
DB_USER=user
DB_PASSWORD=pass