# transformers==4.30.2
# torch==2.0.1
# Pillow==9.5.0
# bitsandbytes==0.43.3


flask
flask_cors
python-dotenv
requests
aiohttp
opencv-python
pytesseract
Pillow
matplotlib
tesseract-ocr
opencv-python-headless

gunicorn==21.2.0