# Framework web
flask
flask_cors
gunicorn==21.2.0

# Base de datos
flask-sqlalchemy==3.1.1
mysql-connector-python==8.0.33
pymysql>=1.0.0
cryptography>=41.0.0

# HTTP y APIs
requests
aiohttp

# Procesamiento de imágenes y OCR
opencv-python
opencv-python-headless
pytesseract
Pillow
matplotlib