/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

// Tipografía
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import './variables.scss';
@import './cropper.scss';

body {
  background-color: black;
  color: $white;
  margin: 0;
  padding: 0;
}

input {
  font-family: 'Montserrat', sans-serif;
}

.app {
  display: grid;
  height: 100vh;
  align-content: start;
}

button,
.mat-button {
  background-color: $spotify-green;
  color: $white;
  font-weight: 600;
  border-radius: 20px;
  // padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  border: none;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    background-color: darken($spotify-green, 10%);
  }
}

img {
  margin: 0;
  padding: 0;
}

// Para títulos
h1,
h2,
h3 {
  color: $white;
  font-weight: 600;
  margin: 0px;
}

ul,
li {
  list-style-type: none;
}

// Para formularios y entradas de texto
.mat-form-field {
  color: $white;

  .mat-form-field-label {
    color: $spotify-light-gray;
  }

  .mat-input-element {
    color: $white;
    background-color: $spotify-dark-gray;
  }

  .mat-form-field-underline {
    background-color: $spotify-green;
  }
}

// Estilos para subir imágenes
.mat-card {
  background-color: $spotify-dark-gray;
  color: $white;
}

.file-label {
  background-color: $spotify-green;
  color: $white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.file-label:hover {
  background-color: darken($spotify-green, 10%);
}

.container {
  margin: 20px;
}

.mdc-circular-progress__indeterminate-circle-graphic {
  stroke: $spotify-green !important;
}

//---
.scrollable-container {
  height: 90px;
  /* Altura fija del contenedor */
  overflow: auto;
  /* Permite el scroll */
}

/* Ocultar la barra de desplazamiento en WebKit (Chrome, Safari) */
.scrollable-container::-webkit-scrollbar {
  width: 0;
  /* Ancho de la barra de scroll */
  background: transparent;
  /* Fondo transparente para ocultar la barra */
}

/* Ocultar la barra de desplazamiento en Firefox */
.scrollable-container {
  scrollbar-width: none;
  /* Para Firefox */
}

//-----------------//
.info--container {
  display: grid;
  justify-content: center;
  background-color: $spotify-gray;
  margin: 10px 20px;
  border: 1px solid $spotify-gray;
  padding: 2px 12px;
  border-radius: 10px;
  text-align: center;

  h3 {
    margin: 0px;
  }

  @media (max-width: 768px) {
    h3 {
      font-size: 12px;
    }
  }

  &--create_list {
    @extend .info--container;
    padding: 10px 12px;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

    button {
      font-size: 12px;
      white-space: nowrap;
    }

    input {
      font-size: 12px;
      border-radius: 18px;
      border: none;
      padding-left: 12px;
    }

    @media (max-width: 961px) {
      font-size: 10px;
      position: fixed;
      z-index: 3;
      bottom: 0px;
      left: 50%;
      transform: translate(-54%, 0);
      width: 80vw;
    }
  }
}


/* Animación de pulso para el botón */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(29, 185, 84, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(29, 185, 84, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(29, 185, 84, 0);
  }
}

.pulse {
  animation: pulse 1.5s infinite;
}


:root {
  --primary-color: #1DB954;
  /* spotify-green */
  --text-on-primary: #FFFFFF;
  /* white */
  --background-color: #191414;
  /* spotify-black */
  --secondary-background: #121212;
  /* spotify-dark-gray */
  --background-translucent: #12121299;
  /* spotify-dark-deep-gray */
  --text-primary: #FFFFFF;
  /* white */
  --text-secondary: #B3B3B3;
  /* spotify-light-gray */
  --text-muted: #535353;
  /* spotify-gray */
  --surface-color: #1e1e1e;
  /* b_g_600 */

  /* Alert colors */
  --alert-success: #28a745;
  --alert-danger: #dc3545;
  --alert-warning: #bd6203;
  --alert-info: #17a2b8;
}

.steps {
  background-color: var(--secondary-background);
  text-align: center;
}

.steps h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--text-primary);
}

.step-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.step-card {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  background-color: var(--surface-color);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-card:hover,
.step-card:focus-within {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.step-icon {
  background-color: var(--primary-color);
  color: var(--text-on-primary);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.step-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--text-primary);
}

.step-card p {
  color: var(--text-secondary);
}