/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

// Tipografía
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import './variables.scss';
body {
  background-color: black;
  color: $white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
input {
  font-family: 'Montserrat', sans-serif;
}
button, .mat-button {
  background-color: $spotify-green;
  color: $white;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  border: none;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    background-color: darken($spotify-green, 10%);
  }
}
img {
  margin: 0;
  padding: 0;
}

// Para títulos
h1, h2, h3 {
  color: $white;
  font-weight: 600;
  margin: 0px;
}

ul, li {
  list-style-type: none;
}
// Para formularios y entradas de texto
.mat-form-field {
  color: $white;

  .mat-form-field-label {
    color: $spotify-light-gray;
  }

  .mat-input-element {
    color: $white;
    background-color: $spotify-dark-gray;
  }

  .mat-form-field-underline {
    background-color: $spotify-green;
  }
}

// Estilos para subir imágenes
.mat-card {
  background-color: $spotify-dark-gray;
  color: $white;
}

.file-label {
  background-color: $spotify-green;
  color: $white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.file-label:hover {
  background-color: darken($spotify-green, 10%);
}

.container {
    margin: 20px;
}
.mdc-circular-progress__indeterminate-circle-graphic {
  stroke: $spotify-green !important;
}
.info--container {
  display: grid;
  justify-content: center;
  background-color: $spotify-gray;
  margin: 10px 20px;
  border: 1px solid $spotify-gray;
  padding: 2px 12px;
  border-radius: 10px;
  text-align: center;
  h3 {
    margin: 0px;
  }
  @media (max-width: 768px) {
    h3 {
      font-size: 12px;
    }
  }
  &--create_list {
    @extend .info--container;
    padding: 10px 12px;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    button {
      font-size: 12px;
      white-space: nowrap;
    }
    input {
      font-size: 12px;
      border-radius: 18px;
      border: none;
      padding-left: 12px;
    }
    @media (max-width: 961px) {
      font-size: 10px;
      position: fixed;
      z-index: 3;
      bottom: 0px;
      left: 50%;
      transform: translate(-54%, 0);
      width: 80vw;
    }
  }
}

