// Colores principales de Spotify
$spotify-green: #1DB954;
$spotify-black: #191414;
$spotify-dark-gray: #121212;
$spotify-dark-deep-gray: #12121299;
$spotify-gray: #535353;
$spotify-light-gray: #B3B3B3;
$white: #FFFFFF;

// Alerts colores
$alert-success: #28a745;
$alert-danger: #dc3545;
$alert-warning: #bd6203;
$alert-info: #17a2b8;
$alert-light: #f8f9fa;
$alert-dark: #343a40;
