@import '../../../variables.scss';

// ======================
// VARIABLES
// ======================
$card-border-radius: 8px;
$transition-speed: 0.3s;
$card-width: 200px;

// ======================
// BASIC ELEMENTS
// ======================
figure {
  margin: 0;
}

// ======================
// BAND LIST CONTAINER
// ======================
.band-list {
  display: flex;
  flex-wrap: wrap;
  gap: 86px 26px;
  justify-content: center;
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  // padding-bottom: 200px;
}

// ======================
// BAND CARD
// ======================
.band-card {
  width: $card-width;
  background: none;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

// ======================
// BAND INFO CONTAINER
// ======================
.band-inf--container {
  width: 100%;
  max-width: $card-width;
  background-color: #1e1e1e;
  color: white;
  border-radius: $card-border-radius;
  overflow: hidden;
  transition: transform $transition-speed;
  border: 1px solid $spotify-gray;
  margin-bottom: 6px;
  position: relative;
}

// ======================
// BAND IMAGE
// ======================
.band-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $card-border-radius;
}

// ======================
// CARD HEADER
// ======================
.band-card--header {
  padding: 0px 16px;
  position: absolute;
  top: 0;
  transition: top $transition-speed;
  background: $spotify-dark-deep-gray;
  display: none;
  z-index: 1;
  width: 100%;

  .card-header--button {
    border: 1px solid $alert-warning;
    background: $spotify-dark-deep-gray;

    &:hover {
      background: $spotify-gray;
    }
  }

  .band-name-input {
    border-radius: 6px;
    font-size: 14px;
    width: 50%;
    background-color: $spotify-light-gray;
    font-weight: bold;

    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }
}

// ======================
// CARD FOOTER
// ======================
.band-card--footer {
  padding: 10px 16px;
  bottom: -20%;
  transition: bottom $transition-speed;
  background: $spotify-dark-deep-gray;
  left: 0;
}

// ======================
// BAND TITLE
// ======================
.band-card--title {
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// ======================
// GENRE LABELS
// ======================
.genre-label {
  display: inline-block;
  border: 2px solid $spotify-green;
  border-radius: 18px;
  padding: 2px 8px;
  margin: 4px;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// ======================
// SCROLLABLE CONTAINER
// ======================
.scrollable-container {
  height: 90px;
  overflow: auto;
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

// ======================
// BAND LIST OPTIONS
// ======================
.band-list-options {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: $card-width;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: $spotify-gray;
  border-radius: $card-border-radius;
  padding: 4px;
  position: absolute;
  bottom: -66px;
  z-index: 10; // Ensure options appear above other elements
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0;
  }

  >* {
    flex: 0 0 auto;
    margin-right: 10px;
  }
}

// ======================
// FILE UPLOAD BUTTON
// ======================
.file-label {
  background-color: $spotify-green;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color $transition-speed ease;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background-color: darken($spotify-green, 10%);
  }
}

// ======================
// RESPONSIVE DESIGN
// ======================

// Mobile & Small Tablets (up to 600px)
@media (max-width: 600px) {
  .band-inf--container {
    .band-card--title {
      font-size: 0.8rem;
      line-height: 1.2;
      margin: 6px 0;
    }
  }
}

// Mobile & Tablets (up to 960px)
@media (max-width: 960px) {
  .band-list {
    padding-top: 80px;
    height: 30vh;
  }

  .band-inf--container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 140px;

    figure {
      width: 100px;
      height: 140px;
    }
  }

  .band-card--header {
    top: -100%;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 2px;
  }

  .band-card.active {
    transform: scale(1);

    .band-card--header {
      position: absolute;
      top: -60px;
      display: flex;
      gap: 12px;
    }

    .footer--active {
      bottom: 0px;
    }

    .footer--inactive {
      bottom: 0;
      background-color: purple;
      display: none;
    }
  }
}

// Desktop (961px and above)
@media (min-width: 961px) {
  .band-inf--container {
    height: $card-width;

    .scrollable-container {
      height: 100%;
      overflow: auto;
    }

    .band-card--title {
      font-size: 1rem;
      line-height: 1.4;
      margin-bottom: 14px 0;
    }
  }

  .band-card--header {
    top: -100%;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 2px;
  }

  .band-card:hover {
    transform: scale(1);

    .band-card--header {
      position: absolute;
      top: 0;
      display: flex;
      gap: 12px;
    }

    .band-card--footer {
      position: absolute;
      width: 100%;
    }

    .footer--active {
      bottom: 0px;
    }

    .footer--inactive {
      bottom: 0;
    }
  }
}

// Large Screens (1024px and above)
@media (min-width: 1024px) {
  .band-list {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

// height vh
@media (min-height: 800px) {
  .band-list {
    height: 8vh;
  }
}

@media (min-height: 900px) {
  .band-list {
    height: 60vh;
  }

}
