<!-- Lista de las bandas con img -->
<div class="band-list" *ngIf="bandList.length > 0">
  <mat-card
    *ngFor="let band of bandList; let i = index"
    class="band-card band-card-{{ i }}"
    (mouseenter)="onCardHover(i, $event)"
    #bandCard
  >
    <div class="band-card--header">
      <button
        class="card-header--button"
        mat-raised-button
        (click)="toggleOptions(i, band.name, band.img_zone)"
      >
        <!-- icon de angular material de edit -->
        <mat-icon>edit</mat-icon>
      </button>
      <!-- Input para editar el nombre -->
      <input
        class="band-name-input"
        [(ngModel)]="editedNames"
        [attr.placeholder]="band.name"
        aria-label="Edit band name"
      />
      <!-- icon de eliminar -->
      <button
        class="card-header--button"
        mat-raised-button
        (click)="deleteOpcion(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div
      class="band-inf--container"
      [appMobileClick]="getSaludoFunction(i)"
      (click)="$event.stopPropagation()"
    >
      <figure>
        <img class="band-image" [src]="band.img" [alt]="band.name" />
      </figure>
      <mat-card-header
        class="band-card--footer"
        [ngClass]="{
          'footer--active': activeCardIndex === i,
          'footer--inactive': activeCardIndex !== i
        }"
      >
        <mat-card-title class="band-card--title">{{
          band.name
        }}</mat-card-title>
        <mat-card-subtitle
          class="scrollable-container"
          *ngIf="band.genres && band.genres.length > 0"
        >
          <span class="genre-label" *ngFor="let genre of band.genres">{{
            genre
          }}</span>
        </mat-card-subtitle>
      </mat-card-header>
    </div>
    <!-- 5 options -->
    <div
      #bandListOptions
      *ngIf="activeCardIndex === i"
      @toggleOptions
      class="band-list-options"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      <app-options-list
        *ngFor="let optionBand of optionsBand"
        [band]="optionBand"
        [index]="i"
      ></app-options-list>
    </div>
  </mat-card>
</div>
