<!-- <div class="playlist-card" *ngIf="playlistInfo && processResult"> -->
<mat-card class="playlist-card mat-card" *ngIf="step === 3">
  <div class="playlist-image--container">
    <figure class="playlist-image">
      <img
        [src]="playlistInfo.playlists.img"
        [alt]="playlistInfo.playlists.name"
      />
    </figure>
    <div class="playlist-title">
      <h2>{{ playlistInfo.playlists.name }}</h2>
    </div>
  </div>
  <div>
    <div class="playlist--info-container">
      <h3 class="playlist--h3">Process information</h3>
      <p>{{texts[currentLang].bandsAdded}} {{ playlistInfo.bandInfo.top_add }} added</p>
      <p>{{ playlistInfo.bandInfo.top_failed }} {{ texts[currentLang].bandsNotAdded }}</p>
    </div>
    <div class="playlist--scroll-container">
      <h3>{{ texts[currentLang].notFoundTitle }}</h3>
      <div class="scrollable-container">
        <ul class="ul">
          <li
            class="li"
            *ngFor="let band of playlistInfo.bandInfo.failed_bands"
          >
            {{ band }}
          </li>
        </ul>
      </div>
    </div>
    <a
      class="mat-button btn-createPL pulse"
      [href]="playlistInfo.playlists.href"
      target="_blank"
      >{{ texts[currentLang].listenPlaylist }}</a
    >
    <p class="coffee-title">
      {{ texts[currentLang].donationText }}
    </p>
    <div class="coffee-container">
      <a
        class="mat-button"
        href="https://paypal.me/gaxoblanco?country.x=AR&locale.x=es_XC"
        target="_blank"
        >PayPal
      </a>
      <a
        class="mat-button"
        href="https://link.mercadopago.com.ar/festivalmusic"
        target="_blank"
        >Mercado Pago
      </a>
    </div>
  </div>
</mat-card>
